<a href="https://colab.research.google.com/github/ArtemBaron/baron_vergeles/blob/main/ml_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('dark_background')

In [ ]:
import seaborn as sns

In [ ]:
#https://drive.google.com/file/d/1VHcT-kf6yDOZxZkhbugL5n8vqnwc9Qq7/view?usp=sharing

In [ ]:
! gdown --id 1VHcT-kf6yDOZxZkhbugL5n8vqnwc9Qq7
#! unzip /content/uk-used-cars.zip -d /content/uk-used-cars

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1VHcT-kf6yDOZxZkhbugL5n8vqnwc9Qq7
To: /content/bmw.csv
100% 593k/593k [00:00<00:00, 98.6MB/s]

In [ ]:
df = pd.read_csv('/content/bmw.csv')

In [ ]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train, test = train_test_split(df,train_size=0.6,random_state=42)

In [ ]:
len(train) / len(df)


len(test) / len(df)

0.4000556534644282

In [ ]:
val, test = train_test_split(test,train_size=0.5,random_state=42)

In [ ]:
len(val) / len(df)
len(test) / len(df)

0.20007420461923756

In [ ]:
train.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize'],
      dtype='object')

In [ ]:
X = ['model', 'year', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize']

In [ ]:
y = ['price']

In [ ]:
cat_features = ['model','transmission','fuelType']

In [ ]:
pd.get_dummies(df['transmission'])

       Automatic  Manual  Semi-Auto
0              1       0          0
1              1       0          0
2              1       0          0
3              1       0          0
4              1       0          0
...          ...     ...        ...
10776          1       0          0
10777          1       0          0
10778          0       1          0
10779          1       0          0
10780          1       0          0

[10781 rows x 3 columns]

In [ ]:
! pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.2-cp310-cp310-manylinux2014_x86_64.whl (98.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.6/98.6 MB 9.2 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.22.4)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.13.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2022.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.2.2)
Installing collected packages: catboost
Successfully installed catboost-1.2

In [ ]:
from catboost import CatBoostRegressor

In [ ]:
model = CatBoostRegressor(cat_features=cat_features, eval_metric='MAPE', random_seed = 42, learning_rate = 0.03, verbose = 100)
#parameters = {cat_features:cat_features, eval_metric:'MAPE', verbose: 100}
#model = CatBoostRegressor(**parameters)

In [ ]:
model.fit(train[X], train[y], eval_set=(val[X], val[y]))

0:	learn: 0.4748747	test: 0.4703283	best: 0.4703283 (0)	total: 56.3ms	remaining: 56.2s
100:	learn: 0.1209943	test: 0.1173861	best: 0.1173861 (100)	total: 950ms	remaining: 8.45s
200:	learn: 0.0917193	test: 0.0895708	best: 0.0895708 (200)	total: 2.42s	remaining: 9.63s
300:	learn: 0.0831827	test: 0.0819571	best: 0.0819571 (300)	total: 3.54s	remaining: 8.23s
400:	learn: 0.0787966	test: 0.0787471	best: 0.0787471 (400)	total: 4.17s	remaining: 6.23s
500:	learn: 0.0756785	test: 0.0766496	best: 0.0766496 (500)	total: 4.78s	remaining: 4.76s
600:	learn: 0.0734238	test: 0.0751882	best: 0.0751882 (600)	total: 5.38s	remaining: 3.57s
700:	learn: 0.0716668	test: 0.0740858	best: 0.0740858 (700)	total: 5.98s	remaining: 2.55s
800:	learn: 0.0702486	test: 0.0731632	best: 0.0731632 (800)	total: 6.6s	remaining: 1.64s
900:	learn: 0.0687932	test: 0.0723839	best: 0.0723839 (900)	total: 7.21s	remaining: 792ms
999:	learn: 0.0676111	test: 0.0718199	best: 0.0718198 (997)	total: 7.81s	remaining: 0us

bestTest = 0.07181984662
bestIteration = 997

Shrink model to first 998 iterations.

In [ ]:
model.predict(test[X])

array([56918.76292215, 22437.01991601, 13323.39059668, ...,
       30077.53028673, 13712.85710997, 24544.95066628])

In [ ]:
test['price_pred'] = model.predict(test[X])

In [ ]:
test

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,price_pred
4984,X6,2019,52990,Semi-Auto,3086,Diesel,145,34.9,3.0,56918.762922
4880,X1,2018,24081,Semi-Auto,13245,Diesel,150,60.1,2.0,22437.019916
9132,1 Series,2016,12999,Automatic,68949,Petrol,200,43.5,2.0,13323.390597
6451,1 Series,2020,11995,Semi-Auto,10,Petrol,150,34.5,2.0,33416.841004
7199,3 Series,2020,29875,Semi-Auto,150,Petrol,145,42.2,2.0,34999.003042
...,...,...,...,...,...,...,...,...,...,...
9627,3 Series,2015,14999,Automatic,78680,Diesel,160,52.3,3.0,14283.884697
6096,4 Series,2019,29676,Automatic,7365,Petrol,145,41.5,3.0,30842.309886
1747,5 Series,2019,30570,Automatic,3067,Hybrid,145,49.6,2.0,30077.530287
4023,3 Series,2016,14999,Automatic,70054,Hybrid,0,148.7,2.0,13712.857110
4372,2 Series,2019,24590,Semi-Auto,3300,Diesel,145,48.7,2.0,24544.950666

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error

In [ ]:
def error(y_true, y_pred):
  print(mean_absolute_error(y_true,y_pred))
  print(mean_absolute_percentage_error(y_true,y_pred))

In [ ]:
error(test['price'], test['price_pred'])

1557.829933640045
0.07355150889681633

SKLEARN

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
df_sklearn = df.copy()

In [ ]:
ohe = pd.get_dummies(df_sklearn[['transmission','fuelType', 'model']]).drop(['transmission_Automatic', 'fuelType_Diesel', 'model_ 1 Series'], axis = 1)

In [ ]:
df_sklearn = df_sklearn.join(ohe)

In [ ]:
df_sklearn.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize', 'transmission_Manual', 'transmission_Semi-Auto',
       'fuelType_Electric', 'fuelType_Hybrid', 'fuelType_Other',
       'fuelType_Petrol', 'model_ 2 Series', 'model_ 3 Series',
       'model_ 4 Series', 'model_ 5 Series', 'model_ 6 Series',
       'model_ 7 Series', 'model_ 8 Series', 'model_ M2', 'model_ M3',
       'model_ M4', 'model_ M5', 'model_ M6', 'model_ X1', 'model_ X2',
       'model_ X3', 'model_ X4', 'model_ X5', 'model_ X6', 'model_ X7',
       'model_ Z3', 'model_ Z4', 'model_ i3', 'model_ i8'],
      dtype='object')

In [ ]:
X = df_sklearn[['year', 'mileage', 'tax', 'mpg', 'engineSize',
       'transmission_Manual', 'transmission_Semi-Auto',
       'fuelType_Electric', 'fuelType_Hybrid', 'fuelType_Other',
       'fuelType_Petrol', 'model_ 2 Series', 'model_ 3 Series',
       'model_ 4 Series', 'model_ 5 Series', 'model_ 6 Series',
       'model_ 7 Series', 'model_ 8 Series', 'model_ M2', 'model_ M3',
       'model_ M4', 'model_ M5', 'model_ M6', 'model_ X1', 'model_ X2',
       'model_ X3', 'model_ X4', 'model_ X5', 'model_ X6', 'model_ X7',
       'model_ Z3', 'model_ Z4', 'model_ i3', 'model_ i8']
                ]
y = df_sklearn['price']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
y_pred = model.predict(X_test)
y_pred

array([16205.33619248, 14918.51967613, 37664.08279142, ...,
       26493.71776206, 17425.61557685,  8562.37914605])

In [ ]:
y_test = y_test.reset_index()

In [ ]:
y_test['price_pred'] = model.predict(X_test)

In [ ]:
y_test

      index  price    price_pred
0      8728  15300  16205.336192
1       761  15495  14918.519676
2      7209  39875  37664.082791
3      6685  21730  22709.129459
4      8548  13799  17052.360943
...     ...    ...           ...
3230   2750  23990  27083.325867
3231   9627  14999  14283.367592
3232   7028  35995  26493.717762
3233   8696  16000  17425.615577
3234    280   9300   8562.379146

[3235 rows x 3 columns]

In [ ]:
error(y_test['price'], y_test['price_pred'])

2798.0041448230145
0.15674902682849437

continue with CatBoost



1.   Кол-во итераций
2.   Learning rate

In [ ]:
train_full = pd.concat([train, val])

In [ ]:
X = ['model', 'year', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize']

In [ ]:
y = ['price']

In [ ]:
parameters = {'cat_features':cat_features, 'eval_metric':'MAPE', 'verbose': 100, 'learning_rate': 0.08, 'random_seed': 42}
model = CatBoostRegressor(**parameters)

In [ ]:
model.fit(train[X], train[y], eval_set=(val[X], val[y]))

0:	learn: 0.4564416	test: 0.4521294	best: 0.4521294 (0)	total: 8.27ms	remaining: 8.26s
100:	learn: 0.0875290	test: 0.0867329	best: 0.0867329 (100)	total: 605ms	remaining: 5.39s
200:	learn: 0.0760834	test: 0.0779235	best: 0.0779235 (200)	total: 1.24s	remaining: 4.93s
300:	learn: 0.0708670	test: 0.0740290	best: 0.0740290 (300)	total: 1.88s	remaining: 4.36s
400:	learn: 0.0676240	test: 0.0718814	best: 0.0718814 (400)	total: 2.5s	remaining: 3.73s
500:	learn: 0.0654070	test: 0.0709221	best: 0.0708594 (496)	total: 3.15s	remaining: 3.14s
600:	learn: 0.0638577	test: 0.0704606	best: 0.0704490 (599)	total: 4.17s	remaining: 2.77s
700:	learn: 0.0622969	test: 0.0698226	best: 0.0698226 (700)	total: 5.58s	remaining: 2.38s
800:	learn: 0.0609583	test: 0.0694169	best: 0.0694004 (791)	total: 6.58s	remaining: 1.64s
900:	learn: 0.0596089	test: 0.0689968	best: 0.0689945 (895)	total: 7.21s	remaining: 792ms
999:	learn: 0.0584626	test: 0.0686829	best: 0.0686377 (993)	total: 7.85s	remaining: 0us

bestTest = 0.06863774536
bestIteration = 993

Shrink model to first 994 iterations.

In [ ]:
model.best_iteration_

993

In [ ]:
parameters = {'iterations': model.best_iteration_ + 1,
              'cat_features':cat_features, 'eval_metric':'MAPE', 
              'verbose': 100, 'learning_rate': 0.08, 'random_seed': 42}
model = CatBoostRegressor(**parameters)

In [ ]:
model.fit(train_full[X], train_full[y])

0:	learn: 0.4538016	total: 9.05ms	remaining: 9.04s
100:	learn: 0.0854178	total: 732ms	remaining: 6.51s
200:	learn: 0.0745022	total: 1.44s	remaining: 5.73s
300:	learn: 0.0701717	total: 2.18s	remaining: 5.07s
400:	learn: 0.0676577	total: 2.89s	remaining: 4.31s
500:	learn: 0.0656926	total: 3.58s	remaining: 3.57s
600:	learn: 0.0638104	total: 4.3s	remaining: 2.85s
700:	learn: 0.0624302	total: 5s	remaining: 2.13s
800:	learn: 0.0612275	total: 5.74s	remaining: 1.43s
900:	learn: 0.0599823	total: 6.51s	remaining: 715ms
999:	learn: 0.0589827	total: 7.29s	remaining: 0us

In [ ]:
test['price_pred_all_features_and_data'] = model.predict(test[X])

In [ ]:
error(test['price'], test['price_pred_all_features_and_data'])

1512.4065267188155
0.07305898308315235



RMSE - eval_metric используется чтобы остановиться на минимуме функции, а loss_function используется для того чтобы идти к этой функции

In [ ]:
parameters = {
              'cat_features':cat_features,
              'loss_function': 'RMSE', 'eval_metric':'MAPE', 
              'verbose': 100, 'learning_rate': 0.08, 'random_seed': 42}
model = CatBoostRegressor(**parameters)

In [ ]:
model.fit(train[X], train[y], eval_set=(val[X], val[y]))

0:	learn: 0.4564416	test: 0.4521294	best: 0.4521294 (0)	total: 19.1ms	remaining: 19s
100:	learn: 0.0875290	test: 0.0867329	best: 0.0867329 (100)	total: 854ms	remaining: 7.6s
200:	learn: 0.0760834	test: 0.0779235	best: 0.0779235 (200)	total: 1.49s	remaining: 5.94s
300:	learn: 0.0708670	test: 0.0740290	best: 0.0740290 (300)	total: 2.15s	remaining: 4.99s
400:	learn: 0.0676240	test: 0.0718814	best: 0.0718814 (400)	total: 2.81s	remaining: 4.19s
500:	learn: 0.0654070	test: 0.0709221	best: 0.0708594 (496)	total: 3.46s	remaining: 3.45s
600:	learn: 0.0638577	test: 0.0704606	best: 0.0704490 (599)	total: 4.09s	remaining: 2.71s
700:	learn: 0.0622969	test: 0.0698226	best: 0.0698226 (700)	total: 4.73s	remaining: 2.02s
800:	learn: 0.0609583	test: 0.0694169	best: 0.0694004 (791)	total: 5.39s	remaining: 1.34s
900:	learn: 0.0596089	test: 0.0689968	best: 0.0689945 (895)	total: 6s	remaining: 660ms
999:	learn: 0.0584626	test: 0.0686829	best: 0.0686377 (993)	total: 6.68s	remaining: 0us

bestTest = 0.06863774536
bestIteration = 993

Shrink model to first 994 iterations.